PORT = 8000
CORS_ORIGIN =*
MONGODB_URI = mongodb+srv://priya:priya123@cluster0.3n6qth4.mongodb.net



Generating access token
Access token generated: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJfaWQiOiI2NjZlYmVmMDllNGRhNzU2Y2MxMzA2ZWQiLCJlbWFpbCI6InRocmVlQGdtYWlsLmNvbSIsInVzZXJuYW1lIjoidGhyZWUiLCJmdWxsTmFtZSI6InRocmVlIiwiaWF0IjoxNzE4NjA4MzI2LCJleHAiOjE3MTg2OTQ3MjZ9.onjS0GjdWba9QEUJWJN-Ta0xD-PBeBHZk23LWpBjwEw
Generating refresh token
Refresh token generated: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJfaWQiOiI2NjZlYmVmMDllNGRhNzU2Y2MxMzA2ZWQiLCJpYXQiOjE3MTg2MDgzMjYsImV4cCI6MTcyMDMzNjMyNn0.lf_tTByIBdW3VxHofhp2RXh3ooTkNYSaomuIY-khcqM
Saving user with new refresh token